

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    @import "_media";
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    background-color: darkgray;
    
		// .wrapper__title

		&__title {
            text-align: center;
           padding-top: 50px;
           color: mediumblue;
           font-size: 50px;
           font-weight: 700;

		}

		// .wrapper__form

		&__form {
            max-width: 620px;
            margin: 40px auto;
            // text-align: center;
            position: relative;
		}

		// .wrapper__label

		&__label {
            display: block;
              color: mediumblue;
           font-size: 30px;
           font-weight: 700;
        //   padding-bottom: 10px;
		}
		// .wrapper__number

		&__number {
            width: 50%;
            height: 40px;
            font-size: 20px;
           font-weight: 700;
           padding-left: 10px;
           display: block;
           border-radius: 10px;
		}
        		// .wrapper__label

		&__label2 {
            display: block;
              color: mediumblue;
           font-size: 30px;
           font-weight: 700;
        //   padding-bottom: 10px;
		}
		// .wrapper__number

		&__number2{
            width: 50%;
            height: 40px;
            font-size: 20px;
           font-weight: 700;
           padding-left: 10px;
           display: block;
           border-radius: 10px;
		}

		// .wrapper__input-check

		&__input-check {
            width: 30px;
            height: 30px;
            margin: 5px 0;
            
		}

		// .wrapper__check-num

		&__check-num {
        color: mediumblue;
           font-size: 20px;
           font-weight: 700;
        position: absolute;
        top:230px;
        left: 40px;
       
		}

		// .wrapper__check-tit

		&__check-tit {
              color: mediumblue;
           font-size: 20px;
           font-weight: 700;
        position: absolute;
        top:270px;
        left: 40px;
		}
	// .wrapper__check-tit2

		&__check-tit2 {
              color: mediumblue;
           font-size: 20px;
           font-weight: 700;
        position: absolute;
        top:310px;
        left: 40px;
		}
		// .wrapper__check-simb

		&__check-simb {
              color: mediumblue;
           font-size: 20px;
           font-weight: 700;
        position: absolute;
        top:350px;
        left: 40px;
		}

		// .wrapper__submit
        &__btn{
            width: 100%;
            margin: 10px 0;
        }
		&__submit {
            width: 35%;
            height: 40px;
            color: mediumblue;
           font-size: 20px;
           font-weight: 700;
           border-radius: 10px;
           margin-right: 10px;
		}

		// .wrapper__submit2

		&__submit2 {
                width: 35%;
            height: 40px;
            color: mediumblue;
           font-size: 20px;
           font-weight: 700;
           border-radius: 10px;
		}

		// .wrapper__iner

		&__iner {
            font-size: 20px;
           font-weight: 700;
           text-align: center;
         padding-bottom: 20px;
}
.container {
    width: 100%;
    padding: 0 15px;
}
}